@model ReadWayInternationCollege.Models.SendAMessageViewModel

@using (Ajax.BeginForm("Contact", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "ContactUsForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Subject, new { placeholder = "Subject", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Subject, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                @Html.TextAreaFor(m => m.Message, new { placeholder = "Message", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="full-width">
                <input value="Send" type="submit" name="submityt" id="s">
            </div>
        </div>
    </div>
}
